USE [Data_Services]
GO
/****** Object:  Table [dbo].[SF_Picklist_Values]    Script Date: 12/1/2016 8:57:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SF_Picklist_Values](
	[Field] [varchar](250) NULL,
	[Value] [varchar](250) NULL
) ON [PRIMARY]

GO
