USE [Data_Services]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 12/1/2016 8:57:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Name] [nvarchar](250) NULL,
	[Value] [nvarchar](250) NULL
) ON [PRIMARY]

GO
