USE [Data_Services]
GO
/****** Object:  StoredProcedure [dbo].[sp_Master_Assignment_Type]    Script Date: 12/1/2016 8:57:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Master_Assignment_Type]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = ' classwork/Quiz'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = ' Tests - Summative'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Achieve 3000'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Achieve3000'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Achieve3000 Activity'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Achieve3000 Discussion Questio'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'ACT Practice '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Assessment'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Assessments'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Assessments: tests and project'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Assessments-summative '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Assignment'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'AVID'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Bell Work'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Bell Work '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Bell Work & Writing Wednesday'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Bell work/'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Bellwork'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Bell-Work'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Bellwork / Quizzes'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Bellwork/Classwork'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Bellwork/Homework'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Binder'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Binders/Project'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'CBI activities'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Centers'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Chapter Test'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'check for understanding'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Class Assignment'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Class Assignments'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Class Assignments '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Class work'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Class Work '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Class Work/ Note Book'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Class Work/Homework'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Class Work-formative'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Class/Homework'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'CLAssgn,HW,Notebk'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork & Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Classwork & Quizzes'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork (Formative)'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Classwork (Quiz)'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork /BellWork'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork 1'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork JD'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork LW'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork/ Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Classwork/ Quizzes'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork/Bell Work'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork/Bellwork'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork/Daily Assignment'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork/Homework'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork/Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork/Participation MC'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Classwork/Participation-db'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Common Assessment'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Computer'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Computers'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Deadline Work'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Employability'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Exit Slip'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Exit Slips'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Exit Ticket'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Extra Credit'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Extra Credit '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Final Essays'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Focus Lesson'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Focus Lessons'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Formative'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Formative (Assessment)'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Formative (Class Work)'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Formative Assessment'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Formative Assessment JD'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Formative Assessments'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Home Prep'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework &quizes'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework (reading logs)'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework 1'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework JD'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework LW'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework MC'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Homework,Bellwork, Classwork'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework/Acad part'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework/Academic Part.'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework/Bellwork'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework/Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework/Peterson'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework-Davis'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Homework' where Assignment_Type = 'Homework-db'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Independent Reading'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Individual Reading '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Instructional Software'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'I-Ready'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Journal'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Journals'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Journals/Bellwork'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Lab'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Modeled/Independent Rdg.'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'NB Check/Homework/Participatio'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Note Book'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Notebook'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Notebook/Workbook'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Notebooks'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Note-taking'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Other - Formative'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Participation LW'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Participation/Conduct'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Participation/Homework'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Participation/Notebook'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Participation/Notebook Check'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Photo Days'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Planners/Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'PreAssessment-db'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Process'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'process critieria'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Product'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Product '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'product criteria'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Project'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Project '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Project Binder'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Project/Binder'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Project/Notebook'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Project/Notebook JD'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Projects'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Projects '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Projects/ Embedded Assessment'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Projects/ Embedded Assessments'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Projects/Embedded Assessment'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Projects/Embedded Assessments'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Projects/NB'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Projects/Notebook'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Projects/Notebook-D'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Projects/Notebooks MC'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Projects/Notebooks-db'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Projects/Papers'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Projects/Research'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Projects/Tests'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quiz'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quiz 1'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quiz MC'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quiz/Peterson'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quiz/Test'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quiz-db'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quizes'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quizes/Projects'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'quizzes'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quizzes & WarmUps, Proj'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quizzes LW'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quizzes old'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quizzes/ Classwork'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quizzes/Exit Quiz'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quizzes/Exit Slip'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quizzes/Exit Slips'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quizzes/Projects'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Quizzes/Tests'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'READ180lab'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'READ180rBook'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Project' where Assignment_Type = 'Reports/Projects'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Responsive Writing'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Small Group'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Small Group '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Sum. Assess.'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Summative'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Summative  Assessment'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Summative (Assessments)'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Summative Assessment'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Summative Assessment JD'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Summative Assessments'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Summative Assessments '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'SummativeAssessments'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'Summmative Assessment'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = 'System44'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test 1'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test MC'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test old'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test or Assessment'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test/Assessments'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test/Peterson'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test/Projects'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test/Projects (b)'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test/Projects/Quiz'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test/Quiz'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test/Quizzes'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test/Quizzes/Projects'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Test-db'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Tests'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'tests '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Tests / Assessments'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Tests and Projects(Summative)'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Tests LW'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Tests/Finals'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Tests/Projects'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Tests/Projects '
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Tests/Projects/Quizzes'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'tests/quizes'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Tests/Quizzes'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Whole Group'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Workstations'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Writing'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Writing Assignments'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Writing Assignments/Revisions'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Writing Days'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Uncategorized' where Assignment_Type = '(blank)'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'uncategorized' where Assignment_Type = 'NULL'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Achieve'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Achieve Articles'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Assesments'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Quiz' where Assignment_Type = 'Assessments/Quizzes'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Test' where Assignment_Type = 'Assessments/Test'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Assignments'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Bell Ringers'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Bell Work Check'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Bell work/Warm-up'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Bell works'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Bellwork/Exit'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Bellwork/Exits'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Bellwork/Projects'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Binder Check'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Bookwork'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Class Work & Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Classwork Activities'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Classwork/Class Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Classwork/TTM'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Classwork/Writing Prompt'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Classworks'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Collaboration'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Cornell Notes'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'uncategorized' where Assignment_Type = 'Digital Points'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Employability/NB'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Employability/Notebook'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Empower 3000'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Essays'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'test' where Assignment_Type = 'Exam'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Fast Math'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'Fastt'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'Classwork' where Assignment_Type = 'FASTT Math Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'test' where Assignment_Type = 'Form. Assess.'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'quiz' where Assignment_Type = 'fORMATIVE (quiz'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'quiz' where Assignment_Type = 'Formative Assessment/Quiz'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'homework' where Assignment_Type = 'Home work'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'homework' where Assignment_Type = 'Home Work / Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'homework' where Assignment_Type = 'Homework / Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'homework' where Assignment_Type = 'Homework/Academic Prep'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'homework' where Assignment_Type = 'Homework/AcademicParticipation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'homework' where Assignment_Type = 'Homework/Class Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'homework' where Assignment_Type = 'Homework/Classwork'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'homework' where Assignment_Type = 'Homeworks'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'homework' where Assignment_Type = 'Homwework/ Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'IM Small Group Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'IM TTM Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'IM TTM Performance'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Interactive NB/Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Interactive Notebook'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Journal Grade'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'LIstening & Speaking'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Materials'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Math XL'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Notebook/Class Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Online Component/Big 25'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Pariticpation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Participation/ Homework'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Particpation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Performance/ Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Planning'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Process criteria'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'project' where Assignment_Type = 'PROJECTS / NOTEBOOK'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'project' where Assignment_Type = 'Projects/Note Book'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'project' where Assignment_Type = 'Projects/Notebooks'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'quiz' where Assignment_Type = 'Qizzes/Projects'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'quiz' where Assignment_Type = 'Quiz/Project'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'quiz' where Assignment_Type = 'Quizes and Projests'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'quiz' where Assignment_Type = 'Quizzes / Projects'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'quiz' where Assignment_Type = 'Quizzes / Test'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'quiz' where Assignment_Type = 'Quizzes/Test'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Reading Plus'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Reflection Logs/Journals'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Small Group Work'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'STRUCTURE'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Structure your Reading'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'test' where Assignment_Type = 'Test/Achieve'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'test' where Assignment_Type = 'Tests & Final Projects'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'test' where Assignment_Type = 'Tests/ Quizzes'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'test' where Assignment_Type = 'Tests/Proj/Quiz- Summative'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'test' where Assignment_Type = 'Tests/Quizzes/Projects'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Text Code'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'TTM Journal'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'TTM Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'TTM Performance'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'TTM/ Particpation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'TTM/ Performance'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'TTM/Small Group Participation'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'TTM/Small Group Performance'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Understanding'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'classwork' where Assignment_Type = 'Workbook'
	update Data_Services.dbo.Master_Assignment_Type set Assignment_Type_Normalized = 'homework' where Assignment_Type = 'Writing Assignment'
END

GO
